<!-- This is the footer section of the webpage. It is fixed to the bottom right corner of the screen using CSS position property. -->
<footer style="position: fixed; bottom: 0; right: 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2023 Faruk Ahmed. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
